<!DOCTYPE html>

{% load i18n staticfiles %}

<html lang="{% get_current_language as language %}{{ language }}" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>{% block title %}{{ request.site.name }}{% endblock %}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="apple-mobile-web-app-title" content="{{ request.site.name }}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

<nav class="navbar navbar-default">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">

                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <header class="site-header">
                        <a href="{% url 'home' %}" class="navbar-brand">{{ request.site.name }}</a>
                    </header>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="{% block jobs_active %}{% endblock %}"><a href="{% url 'job_list' %}">Jobs</a></li>
                        <li class="{% block organizations_active %}{% endblock %}"><a href="{% url 'organization_list' %}">Organizations</a></li>
                        <li class="{% block search_active %}{% endblock %}"><a href="{% url 'search' %}">Search</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            {% block search %}

                            {{ search_form.non_field_errors }}

                            <form method="get" action="{% url 'search' %}" class="navbar-form navbar-right">

                                {% for field in search_form %}
                                    {% if field.is_hidden %}
                                    {{ field }}
                                    {% endif %}
                                {% endfor %}

                                <div class="input-group">
                                    {{ search_form.q }}
                                    <span class="input-group-btn">
                                        <button type="submit" data-submit="Searching" class="btn btn-default">Search</button>
                                    </span>
                                </div>

                            </form>
                            {% endblock %}
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
            <main class="site-main">
                {% block content %}
                {% endblock %}
            </main>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
            <footer class="site-footer">
                <p><small>&copy; {% now "Y" %}. <a href="{% url 'home' %}">{{ request.site.name }}</a>.</small></p>
            </footer>
        </div>
    </div>
</div>

<script src="{% static 'js/jquery-2.1.3.js' %}"></script>
<script src="{% static 'js/bootstrap.js' %}"></script>
<script src="{% static 'js/app.js' %}"></script>

</body>
</html>