{{ search_form.non_field_errors }}

<form method="get" action="{% url 'search' %}">

    {% for field in search_form %}
        {% if field.is_hidden %}
            {{ field }}
        {% else %}
            {{ field.errors }}
            <p><span class="hidden">{{ field.label_tag }}</span></p>
            <p>{{ field }}</p>
            {% if field.help_text %}
                <p>{{ field.help_text }}</p>
            {% endif %}
        {% endif %}
    {% endfor %}

    <p><button type="submit">Search</button></p>

</form>
