{% extends 'base.html' %}

{% load highlight %}


{% block title %}Search {% if query %}&#8220;{{ query }}&#8221;{% endif %} &#183; {{ block.super }}{% endblock %}


{% block search %}
{% endblock %}


{% block content %}

<h1>Search</h1>

{% include 'search/search_form.html' %}

{% if query %}

    {% if page.object_list %}
        <h2>Results {{ page.start_index }}&#8211;{{ page.end_index }} of {{ page.paginator.count }}</h2>
    {% else %}
        <p>No results found.</p>
    {% endif %}

    {% for result in page.object_list %}
    <div class="result">
        <p><a href="{{ result.object.get_absolute_url }}">{{ result.object.title }}</a></p>
        <p>{% highlight result.object.body with query %}</p>
    </div>
    {% endfor %}

    {% if page.has_previous or page.has_next %}
    <div class="pagination">
        <ul>
            {% if page.has_previous %}
            <li class="pagination-newer">
                <a href="?q={{ query|urlencode }}&amp;page={{ page.previous_page_number }}"><span class="arrow">&larr;</span> Previous</a>
            </li>
            {% endif %}
            {% if page.has_next %}
            <li class="pagination-older">
                <a href="?q={{ query|urlencode }}&amp;page={{ page.next_page_number }}">Next <span class="arrow">&rarr;</span></a>
            </li>
            {% endif %}
        </ul>
    </div>
    {% endif %}

{% endif %}

{% endblock %}
