{% extends "base.html" %}


{% block title %}Organizations &#183; {{ block.super }}{% endblock %}


{% block content %}

<h1>Organizations</h1>

{% with orgs=organization_list %}
<p>{{ orgs|length }} organization{{ orgs|pluralize }}</p>
{% endwith %}

<ul>
    {% for organization in organization_list %}
    <li><a href="{{ organization.get_absolute_url }}">{{ organization.title }}</a> {{ organization.job_set.all|length }}</li>
    {% endfor %}    
</ul>

{% include 'includes/pagination.html' with view='organization_list' %}

{% endblock %}
