{% extends "base.html" %}

{% load humanize %}


{% block title %}Organizations &#183; {{ block.super }}{% endblock %}


{% block organizations_active %}active{% endblock %}


{% block content %}

<h1>Organizations</h1>

<p>{{ organization_count|intcomma }} organization{{ organization_count|pluralize }}</p>

<ul>
    {% for organization in organization_list %}
    <li><a href="{{ organization.get_absolute_url }}">{{ organization.title }}</a> {{ organization.job_set.all|length }}</li>
    {% endfor %}    
</ul>

{% include 'includes/pagination.html' with view='organization_list' %}

{% endblock %}
